<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mon Profil - Fiche d'Urgence</title>
</head>
<body>

    <div>
        <h1>Tableau de bord de {{ session['username'] }}</h1>
        <a href="/logout">Se déconnecter</a>
    </div>

    <hr>

    <div>
        <h3>Mes Informations Vitales</h3>
        <form action="/update-profile" method="POST">
             <input type="hidden" name="profile_id" value="{{ profile.id }}">
    
             <div>
                <label>Ma Pathologie :</label>
                <input type="text" name="condition_name" value="{{ profile.condition_name }}">
            </div>
    
            <div>
                <label>Contact d'urgence :</label>
                <input type="text" name="emergency_contact" value="{{ profile.emergency_contact }}">
            </div>
    
            <button type="submit">Mettre à jour mes informations</button>
        </form>
    </div>

    <hr>
    <div>
        <h3>Mes consignes médicales</h3>
        <table border="1">
            <tr>
                <th>Symptôme</th>
                <th>Action à suivre</th>
                <th>Gestion</th>
            </tr>
            {% for inst in instructions %}
            <tr>
                <td>{{ inst.symptom }}</td>
                <td>{{ inst.action }}</td>
                <td>
                    <a href="/delete-instruction/{{ inst.id }}">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <hr>
    <div>
        <h3>Ajouter une consigne</h3>
        <form action="/add-instruction" method="POST">
            <input type="hidden" name="profile_id" value="{{ profile.id }}">
            
            <div>
                <label>Symptôme :</label>
                <input type="text" name="symptom" required>
            </div>
            
            <div>
                <label>Action :</label>
                <input type="text" name="action" required>
            </div>
            
            <button type="submit">Enregistrer</button>
        </form>
    </div>
    <hr>
    <div>
        <h3>Mon code de liaison secret</h3>
        <p>Voici votre code secret : <strong>{{ profile.secret_key }}</strong></p>
        <p><small>Donnez ce code uniquement à votre accompagnant de confiance.</small></p>
    </div>
    <hr>
    <div>
        <h3>Ma fiche d'urgence publique</h3>
        <p>Voici le lien à transmettre:</p>
    
        <a href="/emergency/{{ session['username'] }}" target="_blank" style="font-weight: bold; color: #d9534f;">
        Visualiser ma fiche publique (cliquez ici)
        </a>
    
        <p><small>URL : /emergency/{{ session['username'] }}</small></p>
    </div>
</body>
</html>